.allTodos{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
}

.todos{
    display: flex;
    gap:20px;
    align-items: center;
}

.inputCheckTodoContainer{
    /* border: 1px solid red; */
    min-width: 28px;
    height: 28px;
    border-radius: 8px;
}

.inputCheckTodo{
    width: 1.75em;
    height: 1.75em;
    background-color: white;
    border-radius: 25%;
    vertical-align: middle;
    border: 1px solid #ddd;
    cursor: pointer;
    border: 1px solid #EA5959;
    /* display: none; */
}

.completeTask{
    border: solid 1px #D8D8D8;
    border-radius: 8px;
    padding: 10px 10px 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todosLate{
    border: solid 1px red;
    border-radius: 8px;
    padding: 10px 10px 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.taskFirstRow{
    display: flex;
    margin-bottom: 5px;
}

.taskFirstRow p:first-child{
    font-size: 24px;
}

.taskFirstRow span{
    background-color: #EA5959;
    padding: 7px 32px 0px 32px;
    margin-left: 23px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    text-align: center;
    max-height: 29px;
    margin-right: 10px;
}

.lastp{
    display: none;
}

.thirdp{
    color: #787878;
    font-size: 18px;
}

.taskButtons{
    display: flex;
    gap: 6px;
    align-items: center;
}

.editButton{
    color: #8E8E8E;
    background-color: white;
    border: none;
    cursor: pointer;
}

.deleteButton{
    color: red;
    background-color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 1023px) and (min-width: 768px){
    .taskFirstRow{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .taskFirstRow span{
        margin: 0;
        padding: 7px 0px 5px 0px;
        width: 70%;
    }
}

@media (max-width: 767px){
    .inputCheckTodoContainer{
        display: none;
    }

    .taskFirstRow{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .taskFirstRow span{
        margin: 0;
        padding: 7px 0px 5px 0px;
        width: 50%;
    }
}