@import '../../styles.css/global.css';

.categoriesTask{
    padding-left: 3.125em;
    padding-top: 8.6875em;
    background-color: white;
    border-right: 1px solid black;
    width: 20%;
    border-bottom-left-radius: 0.625em;
    border-top-left-radius: 0.625em;
}

.categoriesTask h4:hover {
    text-decoration: underline;
    font-size: 1.5em;
    font-family: 'Lato';
    cursor: pointer;
}

.categoriesTask h4{
    font-weight: 400;
    line-height: 1.65em;
    font-family: 'Lato';
}

.categoriesTask h4:first-child{
    color: red;
    margin-top: 0;
}

@media (max-width: 767px) {
    .categoriesTask {
        display: none;
    }
}