.containerTask{
    display: flex;
    width: 70%;
    height: 702px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categoriesTask{
    padding-left: 50px;
    padding-top: 139px;
    background-color: white;
    border-right: 1px solid black;
    width: 20%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.categoriesTask h4{
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
}

.categoriesTask h4:first-child{
    color: red;
    margin-top: 0;
}

.inputTask{
    padding: 10px 0px 15px 20px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 8px;
    width: 90%;
}

.formTask{
    background-color: white;
    padding-left: 53px;
    width: 80%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

