.inputTask {
  padding: 10px 0px 15px 20px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 8px;
  width: 90%;
}

.formTask {
  background-color: white;
  padding-left: 53px;
  width: 80%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.buttonNewTask {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #EA5959;
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 43px;
  margin-bottom: 33px;
}
