@import '../../styles.css/variables.css';

.inputTask {
  margin-top: 25px;
  padding: 0.6em 0 1em 1.5em;
  background-color: var(--background-color-task);
  border: none;
  border-radius: 0.5em;
  width: 100%;
  font-family: 'Lato';
}

.containerAllTodos{
  overflow: scroll;
  width: 100%;
  margin-top: 20px;
  height: 50%;
}

.formTask {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3em;
  width: 100%;
  border-bottom-right-radius: 0.625em;
  border-top-right-radius: 0.625em;
}

.buttonNewTask {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--button-new-task);
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 43px;
  margin-bottom: 33px;
  cursor: pointer;
}

.navButton{
  text-decoration: none;
  color:white;
}


@media (min-width: 768px) and (max-width: 991px) {
  .inputTask {
      width: 100%;
  }

  .formTask {
    padding: 2em;
  }
}

@media (max-width: 767px) {
    .formTask {
      padding: 0 2em;
      padding-top: 3em;
      border-radius: 0;
    }

    .inputTask {
      width: 100%;
    }
}
