@import '../../styles.css/variables.css';
@import '../../styles.css/global.css';

.editContent {
    width: 100%;
}

.Label_task, .Due_task {
    width: 100%;
    border: none;
    background-color: var(--background-color-task);
    margin-right: 6.7em;
    padding-left: 1em;
    border-radius: 0.5em;
}

.formTaskContent{
    display:flex;
    flex-direction:column;
    margin: 1.8em 0 0 5.75em;
}

.inputLabelEdit, .inputDateEdit{
    width: 30%;
}

.inputLabel{
    margin-bottom:30px;
}

.inputDate{
    margin-bottom:60px;
}

.ItemContentEdit{
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #787878;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
  }

.inputCommentEdit{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #787878;
    border: none;
    border-radius: 8px;
    width: 85%;
    margin-bottom: 20px;
}

.inputCompleteEdit{
    margin-bottom: 18px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    width:85%;
}


@media (max-width: 767px) {
    .formTaskContent { /* NO DA BOLA */
        margin: 0;
    }

    .editContent {
        width: 100%;
    }


    .Label_task ,
    .Due_task {
        width: 80%;
    }

    .inputLabelEdit ,
    .inputDateEdit {
        width: 40%;
    }

    .cancelButtonEdit {
    }
}