@import '../../styles.css/global.css';
@import '../../styles.css/variables.css';

.taskContent {
  width: 100%;
}

.formTaskContent{
  display:flex;
  flex-direction:column;
  margin: 1.8em 0 0 5.75em;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.3em;
  color: #787878;
}

.inputLabel, .inputComment, .inputDate{
  width: 90%;
  background-color: var(--background-color-task);
  padding-left: 1em;
}

.pDate, .pLabel{
  margin-right: 5em;
  width: 120px;
}

.inputDate,
.inputLabel {
  margin-right: 3.5em;
}

.inputLabel{
  margin-bottom:30px;
}

.inputDate{
  margin-bottom:60px;
}
.label, .date{
  display:flex;
  color: rgba(120, 120, 120, 0.5)
}

.formTaskContent p{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--button-cancel);
  padding-top:15px;
}

.cancelButton,
  .saveButton{
    width: 15%;
  }
  
.backButton{
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: none;
  background-color: #EA5959;
  color: white;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
  font-family: 'Lato';
  margin-top: 39px;
  margin-left: 20px;
  cursor: pointer;
  }

.navButton{
    text-decoration: none;
    color:white;
  }

.navButtonCancel{
    text-decoration: none;
    color:#787878;
  }

.backButton{
  color: #EA5959;;
  background-color: white;
  border: none;
}

@media (max-width: 767px) {
  .formTaskContent {
    height: 70%;
    width: 70%;
  }

    .inputTitle{
      font-size: 1.3em;
      margin-bottom: 2em;
    }

    .inputComment ,
    .inputDate,
    .inputLabel{
      font-size: 1em;
      width: 100%;
      margin-right: 0;
    }

    .pLabel,
    .pDate {
      width: 0;
    }

  .cancelButton {
     margin-right: 220px;
  }

  .backButton {
    width: 3.5em;
    height: 3.5em;
  }

  
  .cancelButton,
  .saveButton{
    width: 6em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .date{
    margin-bottom: -1em;
  }

  .inputDate ,
  .inputLabel{
    margin-right: 2em;
  }
}