.formTaskContent{
    display:flex;
    flex-direction:column;
    margin: 29px 0px 0px 92px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #787878;
}

.inputTitle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 8px;
    width: 90%;
    margin-bottom: 30px;
}

.inputLabel, .inputComment, .inputDate{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(120, 120, 120, 1);
    border: none;
    border-radius: 8px;
    width: 90%;
}

.pDate, .pLabel{
    margin-right: 80px;
    width: 120px;
}

.inputLabel{
    margin-bottom:30px;
}

.inputDate{
    margin-bottom:60px;
}

.label, .date{
    display:flex;
    color: rgba(120, 120, 120, 0.5)
}

.formTaskContent p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #787878;
}

.saveButton {
    display: block;
    width: 158px;
    height: 45px;
    border-radius: 100px;
    border: none;
    background-color: #EA5959;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 43px;
    margin-bottom: 49px;
    cursor: pointer;
  }

  .cancelButton{
    display: block;
    width: 158px;
    height: 45px;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #787878;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 242px 49px 0px;
    cursor: pointer;
  }
  
  .backButton{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #EA5959;
    color: white;
    font-size: 12px;
    position: absolute;
    cursor: pointer;
    font-family: 'Lato';
    margin-top: 22px;
    margin-left: 20px;
  }
  
  .navButton{
    text-decoration: none;
    color:white;
  }