* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.TaskList {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}

.Task {
    background-color: rgba(234, 186, 194, 0.489);
    list-style: none;
    margin: 0.5em auto;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.357);
    border-radius: 1em;
    width: 60%;
    align-content: center;
}

/* PRUEBA */